<app-nav>Loading...</app-nav>




<app-summary>Loading...</app-summary>




<!--  The below is not needed for some reason.) 

And for some reason I don't have to reference <app-root>Loading...</app-root>
<h1>
  {{title}}
</h1>

-->

<app-timeline>Loading...</app-timeline>  